.center{
    text-align: center;
    border: 2px solid;
}
.center-2{
    width: 240px;
    margin: 0 auto;
}
/* align image center */
.image{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* align element using position */
.container{
    position: relative;
    border: 2px solid;
    height: 200px;
}
.element-center{
    /* vertically position center */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}