*{
    /* margin: 0;
    padding: 0; */
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.food{
    border: 1px solid lightgray;
    border-radius: 7px;
    overflow: hidden;
}
.container > .food > img{
    /* width: 100px; */
    width: 100%;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}
.container h3, p{
    padding: 0px 15px;
    margin: 0px 0px 15px;
}
/* display a multi-line truncated text with an ellipsis */
.container > .food p{
    /* max-height: 36px; */
    overflow: hidden;/* Hides overflowing content */
    /* white-space: nowrap; */
    display: -webkit-box; /* -webkit-box display value for multi-line truncation */
    -webkit-line-clamp: 2;/* Limits the title to 2 lines */
    -webkit-box-orient: vertical;/* Vertical orientation for the box */
    /* overflow: hidden; */
    text-overflow: ellipsis;
}
.container > .food > button{
    /* margin-left: 15px; */
    width: 100%;
    padding: 15px;
    border: none;
    font-weight: bold;
}
.container > .food > button:hover{
    background-color: darkgray;
    color: whitesmoke;
}

/* css media query */
@media screen and (max-width: 1200px) {
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 576px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
