nav > ul{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav > ul li{
    list-style-type: none;
    /* margin-right: 20px; */
    padding: 10px 15px;
    background-color: #edcdfd;
}
nav > ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav > ul li:hover{
    background-color: #242424;
    cursor: pointer;
}
nav > ul li:hover > a{
    color: #f9f9f9;
}
nav > ul > li:hover > .sub-nav{
    display: block;
}
/* sub-menu-1 */
.sub-nav{
    display: none;
    position: absolute;
    margin-left: -15px;
    margin-top: 10px;
    padding: 0px;
}
.sub-nav > li{
    background-color: #fcebd6;
}
/* sub-menu-2 */
.sub-nav-2{
    display: none;
    position: absolute;
    margin-left: 66px;
    margin-top: -28px;
    padding: 0px;
}
.sub-nav-2 > li{
    background-color:#f0ffd0
}
.sub-nav > li:hover > ul{
    display: block;
}